<h1>This is where you've been spending your money</h1>

  <main>
    <% @merchants.each do |merchant| %>
    <p><%= merchant.name %></p>
    <br>
    <p>
      <a href="/merchants/<%= merchant.id %>/edit"><input type="submit" value="Edit"></a>
    </p>
    <p>
      <a href="/merchants/<%= merchant.id %>/delete"><input type="submit" value="Delete"></a>
    </p>
    <hr>
    <% end %>
  </main>

  <section>
    <p><a href="/merchants/new">Add more</a></p>
  </section>
