<h1>This is where you've been spending your money</h1>

  <main>
    <% @merchants.each do |merchant| %>

    <p><%= merchant.name %></p>

    <a href="/merchants/<%= merchant.id %>/edit"><input type="submit" value="Edit"></a>

    <form action="/merchants/<%= merchant.id %>/delete" method="post">
      <input type="submit" value="Delete">
    </form>

    <% end %>
  </main>

  <section>
    <a href="/merchants/new"><input type="submit" value="Add more"></a>
  </section>
