<h1>This is where you've been spending your money</h1>

  <main>
    <% @merchants.each do |merchant| %>
    <p><%= merchant.name %></p>
    <a href="/merchants/<%= merchant.id %>/edit"><input type="submit" value="Edit"></a>
    <a href="/merchants/<%= merchant.id %>/delete"><input type="submit" value="Delete"></a>
    <% end %>
  </main>

  <section>
    <a href="/merchants/new"><input type="submit" value="Add more"></a>
  </section>
