<h1>This is where you've been spending your money</h1>

  <main>
    <% @merchants.each do |merchant| %>
    <p>Name: <%= merchant.name %></p>
    <hr>
    <% end %>
  </main>

  <section>
    <p>Any more you'd like to add?</p>
  </section>
