<h2>This is where your money's gone</h2>

  <section>
    <% @merchants.each do |merchant| %>
    <h3 id="no-description"><%= merchant.name %></h3>

    <a href="/merchants/<%= merchant.id %>/edit"><input type="submit" value="Edit"></a>

    <form action="/merchants/<%= merchant.id %>/delete" method="post">
      <input type="submit" value="Delete">
    </form>
    <% end %>
  </section>

  <section>
    <p>Any other places where you like to spend money?</p>
    <a href="/merchants/new"><input class="main-button" type="submit" value="Add more"></a>
  </section>
