<h2>Add more merchants</h2>

<form action="/merchants" method="post">

  <label for="merchant-name-field">Name: </label>
  <input type="text" name="name" id="merchant-name-field" />
  <br>
  <input type="submit" value="Add merchant">
  
</form>
