<h1>Spendex</h1>
<p id="subhead">Another glorified calculator</p>

<h2>Hi there, <%= @user.user_name %>!</h2>

<main>
  <%= @user.budget_status %>
  <p>You've spent <%= @user.total_spent %> so far, and your budget is <%= @user.budget %>.</p>
</main>

<section>
  <h2>Who is this app for?</h2>

    <h3>Your mum</h3>
    <p>So she can buy more ugly jumpers and useless knick-knacks for her ungrateful children who never visit or call.</p>

    <h3>Your dad</h3>
    <p>What does your dad spend his money on anyway? No one knows. Get him to use this app, steal his phone, then find out.</p>

    <h3>Your kids who just started college</h3>
    <p>So they never run out of money for cheap beers and have fewer reasons to ask you for money when they come round for dinner.</p>

    <h3>Your financially irresponsible friends</h3>
    <p>But don't tell them we said that. Just be casual about it, like "Hey, here's this cool app". Deal?</p>

    <h3>Your incompetent manager</h3>
    <p>Maybe it'll help him save for that team building he's been promising but can never find the budget for?</p>

    <h3>Most importantly - YOU</h3>
    <p>Get better at managing your finances, so you can save for an expensive vacation and make your friends jealous, get that fancy new TV screen, or identify your terrible financial decisions to that leave you broke before every paycheck.</p>
</section>
