<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Your fancy budget calculator app</title>
  </head>
  <body>

    <main>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/transactions">View transactions</a></li>
        </ul>
      </nav>

      <section id="content">
        <%= yield %>
      </section>
    </main>

  </body>
</html>
