<h1>Here's what you've been spending your money on</h1>

  <main>
    <% @tags.each do |tag| %>

    <p>
      <strong><%= tag.name %></strong><br>
      <%= tag.description %>
    </p>

    <a href="/tags/<%= tag.id %>/edit"><input type="submit" value="Edit"></a>

    <form action="/tags/<%= tag.id %>/delete" method="post">
      <input type="submit" value="Delete">
    </form>

    <% end %>
  </main>

  <section>
    <a href="/tags/new"><input type="submit" value="Add more"></a>
  </section>
