<h2>This is what you've spent your money on</h2>

  <main>
    <% @tags.each do |tag| %>

    <h3><%= tag.name %></h3>
    <p><%= tag.description %></p>

    <a href="/tags/<%= tag.id %>/edit"><input type="submit" value="Edit"></a>

    <form class="delete-buttons" action="/tags/<%= tag.id %>/delete" method="post">
      <input type="submit" value="Delete">
    </form>

    <% end %>
  </main>

  <section>
    <p>Any other crap you buy on a regular basis?</p>
    <a href="/tags/new"><input class="main-button" type="submit" value="Add more"></a>
  </section>
