<h1>Here's what you've been spending your money on</h1>

  <main>
    <% @tags.each do |tag| %>
    <p><strong><%= tag.name %></strong></p>
    <p><%= tag.description %></p>
    <br>
    <p>
      <a href="/tags/<%= tag.id %>/edit"><input type="submit" value="Edit"></a>
    </p>
    <p>
      <a href="/tags/<%= tag.id %>/delete"><input type="submit" value="Delete"></a>
    </p>
    <hr>
    <% end %>
  </main>

  <section>
    <p><a href="/tags/new">Add more</a></p>
  </section>
