<h2>Add new categories</h2>

<form action="/tags" method="post">

  <label for="category-name-field">Name: </label>
  <input type="text" name="name" id="category-name-field" />
  <br>
  <label for="category-description-field">Description: </label>
  <input type="textarea" name="description" />
  <input type="submit" value="Add category">
  
</form>
