#logo {
  text-align: left;
  background-color: #666699;
  color: #e0e0eb;
  padding: 5px;
}

header h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 260%;
}

header p {
  font-family: 'Nanum Pen Script', cursive;
}

#greeting {
  font-family: 'Indie Flower', cursive;
  text-align: center;
  color: #e0e0eb;
}

#greeting h2 {
  font-size: 190%;
  font-weight: normal;
}

#greeting p {
  margin-top: 10px;
  font-size: 130%;
}

#summary {
  font-family: 'Poiret One', cursive;
  margin-top: 40px;
  text-align: center;
}

body {
  color: #ecf9f2;
  background-color: #39ac6d;
  font-family: 'Poiret One', cursive;
}

ul {
    font-family: 'Indie Flower', cursive;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    float: right;
    margin: 25px 10px;
}

li a {
  text-decoration: none;
  color: #e0e0eb;
  padding: 5px 15px;
}

li a:hover {
  background-color: #3cb371;
}

h2 {
  color: #47476b;
  font-size: 140%;
  font-weight: bold;
  margin-top: 50px;
  text-align: center;
}

h3 {
  color: #47476b;
  font-size: 120%;
  font-weight: bold;
  margin: 20px auto 7px auto;
}

#no-description {
  color: #ecf9f2;
  margin-top: 30px;
}

.wrapper {
  width: 70%;
  margin: 40px auto 0 auto;
}

section {
  margin-top: 40px;
}

footer {
  font-size: 80%;
  padding-bottom: 20px;
}

span {
  color: #47476b;
  font-weight: bold;
}
